/* styling for STACK LARGE */
.Stack {
  .stack {
    margin-top: -16px;
  }

  .content {
    .tech-text {
      display: inline-block;
      max-width: fit-content;
      height: fit-content;
      font-size: clamp(22px, 22px, 24px);
      white-space: nowrap;
    }

    .lg {
      border-right: 3px solid rgba(0, 0, 0, 0.5);
      padding-right: 1rem;
      margin-right: 30px;
    }

    .icon {
      margin-right: 40px;
    }
  }

  .icon-lg {
    height: 55px;
    width: auto;
  }

  .stack-icon {
    transition: transform 0.4s ease;
    height: 50px;
    width: auto;
    object-fit: contain;

    &:hover {
      transform: translateY(-1em);
    }
  }
}

/* styling for STACK SMALL */
.Stack {
  .content {
    .sm {
      border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      padding: 5px;
      margin-bottom: clamp(35px, 40px, 45px);
      margin-top: clamp(50px, 55px, 60px);
    }

    .icon-sm {
      .stack-icon {
        margin-bottom: 35px;
        margin-left: 8px;
        margin-right: 8px;
        height: 50px;
        width: auto;
        object-fit: contain;
      }
    }
  }

  .carousel-container {
    margin: 30px 0 30px 0;
  }
}

@media (max-width: 767px) {
  .icon-container {
    margin-right: 0; /* Menghapus margin saat lebar layar mengecil */
    margin-bottom: 10px; /* Memberikan jarak antar icon saat ada di baris baru */
  }
}
