@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.App {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.gray-background {
  background-color: #f9f9f9;
}

.dark-background {
  background-color: #2d2e32;
}

/* styling for NAVBAR component */

/* styling for HOME component */

/* styling for tech STACK part */

/* styling for ABOUT component */

/* styling for PROJECT component */

/* styling for CONTACT component */

/* styling for FOOTER component */

/* styling for about image part */

/* styling for every text that have blue primary color */
.blue-color {
  color: #1060ee;
}

/* styling for every text that have font weight 600 */
.font-600 {
  font-weight: 600 !important;
}

/* styling for every section title */
.section-title {
  font-size: clamp(22px, 24px, 28px);
}