@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.App {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.gray-background {
  background-color: #f9f9f9;
}

.dark-background {
  background-color: #2d2e32;
}

/* styling for NAVBAR component */

/* styling for HOME component */
.Home {
  .left-side {
    .hello-text {
      font-size: clamp(30px, 5vw, 40px);
    }

    .name-text {
      font-size: clamp(45px, 8vw, 65px);
    }

    .skill-text {
      font-size: clamp(25px, 5vw, 45px);

      span {
        font-size: clamp(20px, 4vw, 35px);
      }
    }
  }

  .icon:hover {
    cursor: pointer;
  }

  .linkedin-home:hover {
    content: url(./Assets/Icons/linkedin-home-hover.svg);
  }

  .github-home:hover {
    color: #1060ee !important;
  }

  .blob {
    background-image: url(./Assets/Images/myPicture_1.png);
    width: min(80vw, 460px);
    height: min(80vw, 450px);
    padding: 0;
    margin-bottom: clamp(15px, 30px, 110px);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 5px 5px rgba(16, 96, 238, 0.3);
    animation: animate 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

/* styling for tech STACK part */

/* styling for ABOUT component */

/* styling for PROJECT component */

/* styling for CONTACT component */

/* styling for FOOTER component */
.footer {
  .icon-footer {
    margin: 55px, 0, 25px, 0;
  }

  .text-footer {
    font-size: 16px;
    color: white;
    font-weight: 400;
  }
}

/* styling for about image part */

/* styling for every text that have blue primary color */
.blue-color {
  color: #1060ee;
}

/* styling for every text that have font weight 600 */
.font-600 {
  font-weight: 600 !important;
}

/* styling for every section title */
.section-title {
  font-size: clamp(22px, 24px, 28px);
}

@media (max-width: 767px) {
  .icon-container {
    margin-right: 0; /* Menghapus margin saat lebar layar mengecil */
    margin-bottom: 10px; /* Memberikan jarak antar icon saat ada di baris baru */
  }
}

